/* Main Stylsheet */

body {
  align-items: center;
  background-color: #FFD6FE;
  display: grid;
  height: 95vh;
  justify-items: center;
  overflow-y: hidden;
  width: 100vw;
}

main {
  background-color: white;
  border-radius: 20px;
  height: 85vh;
  filter: drop-shadow(0px 0px 10px rgb(0, 0, 0, 0.25));
  width: 85vw;
}

.hilight::after {
  background-color: #FFD6FE;
  content: '';
  display: block;
  height: 26px;
  margin: -31px 0 0 0;
  position: absolute;
  transform: skew(-15deg);
  width: 353px;
  z-index: -1;
}

#mainImg>img:first-of-type {
  bottom: -214px;
  height: 500px;
  /* filter: drop-shadow(3px 5px 3px rgba(0,0,0,0.6)); */
  position: absolute;
  right: -26px;
  z-index: 2;
}

#mainImg>img:nth-of-type(2) {
  bottom: 0px;
  height: 286px;
  filter: drop-shadow(4px 0px 3px rgba(0,0,0,0.6));
  position: absolute;
  right: -26px;
  z-index: 1;
}

#name {
  display: grid;
  justify-items: center;
  margin-top: 40px;
  width: 100%;
}

#name>h1 {
  color: rgb(66, 66, 66);
  display: block;
  font-family: sans-serif;
  font-size: 3em;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  margin: 0;
  position: relative;
  z-index: 2;
}